span {
    color: red;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}



.ui {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .ui {
        flex-direction: column;
    }
}

.side {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

@media screen and (max-width: 767px) {
    .side {
        margin: 20px;
    }
}

.side input {
    width: 300px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.side input:disabled {
    background-color: transparent;
    font-weight: bolder;
    border: none;
    outline: none;
}

.button {
    border: none;
    outline: none;
    background-color: #525CEB;
    color: white;
    font-weight: bolder;
}

.button:hover {
    border: none;
    outline: none;
    background-color: #11235A;
    color: white;
    font-weight: bolder;
}


/* dark mode */

.dark .ui{
    background-color: #ffffff0e;
}

.dark .text{
    color: black;
}