.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.ui{
    display: flex;
    background-color: white;
    width: 75%;
    flex-direction: row;
    border-radius: 18px;
    padding: 15px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 50%;
    gap: 10px;
    text-align: center;
}

.left div{
    display: flex;
    flex-direction: row;
}

.data{
    background-color: transparent;
    border: 0 none;
    font-weight: bold;
    font-size: xx-large;
}

#image{
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.small{
    width: 150px;
    height: 100px;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;

}

.small:hover{
    transform: scale(1.05);
    padding: 0;
    transition: 0.5s;
}

.pay, .car{
    font-weight: bolder;
    padding: 15px;
    border: 0 none;
    border-radius: 15px;
}

.pay{
    width: 400px;
    background-color: lightgreen;
    color: green;
}

.car{
    width: 270px;
    background-color: rgba(65, 137, 230, 0.281);
    color: rgb(1, 115, 182);
}