#headerFrame {
    width: 100%;
    height: 100px; /* Ajuste a altura conforme necessário */
    border: none; /* Remova a borda, se necessário */
}

body {
    transition: 0.5s;
    background-color: rgb(236, 236, 236);
    text-decoration: none;
    font-family: sans-serif;
}

.options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #525CEB;
    padding: 1.5%;
}

@media screen and (max-width: 767px) {
    .options {
        padding: 5%;
        justify-content: space-between;
    }
}

.options input {
    width: 60%;
    padding: 0.5%;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .options input {
        padding: 0.2%;
        width: 37%;
        border-radius: 5px;
        padding: 1%;
    }
}

.options img {
    width: 40px;
    height: 40px;
    filter: invert(100);
}

#user.log{
    border-radius: 50%;
    filter: invert(0);

}

@media screen and (max-width: 767px) {
    .options img {
        width: 25px;
        height: 25px;
    }
}

.logActive {
    display: block;
    background-color: transparent;
    border: none;

}

.logDesactive {
    display: none;
}

.theme{
    background-color: transparent;
    border: 0 none;
}

input:focus ,button:focus{
    outline: none;
}


/* dark mode */
.dark{
    transition: 0.5s;
    background-color: rgb(32, 32, 32);
    color: white;
}

.dark input{
    color: white;
}

.dark .options input{
    background-color: rgb(32, 32, 32);
}
