body {
    transition: 0.1s;
    background-color: rgb(236, 236, 236);
    text-decoration: none;
    font-family: sans-serif;
}

.options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #525CEB;
    padding: 1.5%;
}

@media screen and (max-width: 767px) {
    .options {
        padding: 5%;
        justify-content: space-between;
    }
}

.options input {
    width: 60%;
    padding: 0.5%;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 767px) {
    .options input {
        width: 70%;
        padding: 0.2%;
        border-radius: 5px;
        padding: 1%;
    }
}

.options img {
    width: 40px;
    filter: invert(100);
}

#user.log {
    border-radius: 50%;
    filter: invert(0);

}

@media screen and (max-width: 767px) {
    .options img {
        width: 25px;
        height: 25px;
    }
}

.logActive {
    display: block;
    background-color: transparent;
    border: none;

}

.logDesactive {
    display: none;
}

.theme {
    background-color: transparent;
    border: 0 none;
}

input:focus,
button:focus {
    outline: none;
}

.smartmenu {
    display: none;
}

/* menu mobile  */

@media screen and (max-width: 767px) {
    #headerContainer{
        position: sticky;
        top:  0;
        z-index: 1;
    }
    .smartmenu {
        display: block;
    }

    .options a {
        display: none;
    }

    .logActive{
        text-align: left;
    }

}

.smart {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0;
    background-color: white;
    box-shadow: -4px 0px 18px 0px rgba(0,0,0,0.1);  transition: 0.5s;
}

.off {
    width: 0;
    transition: 0.5s;
}


.smart a {
    white-space: nowrap;
    color: black;
}

.smart img {
    width: 25px;
    margin: 10px;
}


/* dark mode */
.dark {
    transition: 0.1s;
    background-color: rgb(32, 32, 32);
    color: white;
}

.dark input {
    color: white;
}

.dark .options input {
    background-color: rgb(32, 32, 32);
}

.dark .smart {
    background-color: rgb(32, 32, 32);
}

.dark .smart a, .dark .smart button {
    filter: invert(100);
}